 {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'weather/bootstrap.css' %}" />
 
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2>About Us</h2>
            <p class="lead">Api 1.0</p>
            
            <div class="panel panel-primary">
      			<div class="panel-heading">To get History city</div>
      			<div class="panel-body">http://openweatherdata.ns0.it:8000/weather/api1_0/history/<br>
      			<dt>Params: name</dt></div>
    		</div>
    		
    		 <div class="panel panel-primary">
      			<div class="panel-heading">To get City List</div>
      			<div class="panel-body">http://openweatherdata.ns0.it:8000/weather/api1_0/city_list/<br>
      			<dt>Params: none</dt></div>
    		</div>
    		
    		
    		
    		 <div class="panel panel-primary">
      			<div class="panel-heading">To get single data by datetime</div>
      			<div class="panel-body">http://openweatherdata.ns0.it:8000/weather/api1_0/getSingleData/<br>
      			<dt>Params: name,dt (example dt='2017-04-12')</dt></div>
    		</div>
    		
    		 <div class="panel panel-primary">
      			<div class="panel-heading">To get last temperature</div>
      			<div class="panel-body">http://openweatherdata.ns0.it:8000/weather/api1_0/getLastTempData/<br>
      			<dt>Params: name (example name=Palermo)</dt></div>
    		</div>
    		
    		 <div class="panel panel-primary">
      			<div class="panel-heading">To get last humidity</div>
      			<div class="panel-body">http://openweatherdata.ns0.it:8000/weather/api1_0/getLastHumyData/<br>
      			<dt>Params: name (example name=Palermo)</dt></div>
    		</div>
    		
    		 <div class="panel panel-primary">
      			<div class="panel-heading">To get last pressure</div>
      			<div class="panel-body">http://openweatherdata.ns0.it:8000/weather/api1_0/getLastPressure/<br>
      			<dt>Params: name (example name=Palermo)</dt></div>
    		</div>
    		
    		<div class="panel panel-success class">
      			<div class="panel-heading">To get single data by datetime RDF ontology</div>
      			<div class="panel-body">http://openweatherdata.ns0.it:8000/weather/api1_0/getSingleDataRDF/<br>
      			<dt>Params: name,dt (example dt='2017-04-12')</dt></div>
    		</div>
    		
    		<div class="panel panel-success class">
      			<div class="panel-heading">To get history by city RDF ontology</div>
      			<div class="panel-body">http://openweatherdata.ns0.it:8000/weather/api1_0/historyRDF/<br>
      			<dt>Params: name (example name=Palermo)</dt></div>
    		</div>
    		
    		
    		
    	  </div>
         </div>
	  </div>
    <!-- /About -->