{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'weather/bootstrap.css' %}" />
<!-- Add custom CSS here -->
<link rel="stylesheet" type="text/css" href="{% static '/weather/slidefolio.css' %}" />


<!DOCTYPE html>
<html>
   <head>
   </head>
<body>
            <div class="login">
            {% block content %}
            {% endblock %} 
            </div>

            
           
            
   


                    <!-- Core Scripts - Include with every page -->
                     <script src = "{% static 'weather/jquery.js' %}"></script>
                     <script src = "{% static 'weather/bootstrap.js' %}"></script>
                {% block javascript %}
                {% endblock %}


    </body>
</html>


 