	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />

	<h1 align="center">Weather Station</h1>   
	<!--
	<a href="/weather/data/" class="button">RealTime_map</a>
	<a href="/weather/history/" class="button">History</button>	
	-->
	{% if name_city %}
		<div id="menu">
			<ul>
        		{% for i in name_city %}
        			<li><a href="/weather/history/?name={{i}}">{{i}}</a></li>
	    		{% endfor %}
	    	</ul>
		</div>
	 {% else %}
    	<p>City not found!</p>
	 {% endif %}
	
	

	