{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/bootstrap.css' %}" />
    <!-- Add custom CSS here -->
    <link rel="stylesheet" type="text/css" href="{% static '/weather/slidefolio.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/weather/btns.min.css' %}" />
   <title>Telegram bot</title>
    

 <!-- Header Area -->
    <div class="headerLearn">
      <div class="learnTitle"> Join Telegram </div>
    </div>
    
    <!-Header Area -->
    
<div class="row top-first-buffer">
  <div class="col-md-6 col-xs-6 center-block">Bot
  <body-block> 
  Add bot called WeatherAbraxas and start a conversation,You can ask the commands on right.
  Why Abraxas?? easy.. According to Greek mythology, he was a horse of the wind god Eolo.
  </body-block>
  </div>
  <div class="col-md-6 col-xs-6 center-block">
  <img class="img_telegramPage" src="{% static '/weather/home_bot.png' %}">
</div>
</div>



<div class="row top-buffer">
  <div class="col-md-6 col-xs-6 center-block">Last single data
  <body-block>
  If you want, ask to Abraxas Bot the last data, for example, do you want to know the last temp?
  easy.. type Temp city (or temp/Temperature/temperature we use the expression regular for to handle it)
  Do you want to know last wind speed? or humidity? Type wind city or hum city et voilà. But you must pay attention,
  beyond of Abraxas, there is another legendary guardian, he is very powerful, is called Chuck. So you don't make him angry and type correctly!
  </body-block>
  </div>
  <div class="col-md-6 col-xs-6 center-block">
  <img class="img_telegramPage" src="{% static '/weather/tempHumWind.png' %}">
</div>
</div>

<div class="row top-buffer">
  <div class="col-md-6 col-xs-6 center-block">All last data</div>
  <div class="col-md-6 col-xs-6 center-block">
  <img class="img_telegramPage" src="{% static '/weather/all.png' %}">
</div>
</div>


<div class="row top-buffer">
  <div class="col-md-6 col-xs-6 center-block">History
  <body-block>text</body-block>
  </div>
  <div class="col-md-6 col-xs-6 center-block">
  <img class="img_telegramPage" src="{% static '/weather/history.png' %}">
</div>
</div>

</div>

    
    
    
     
    
    
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
       <h2>Thank You</h2>
      </div>
    </div>
  </div>
</footer>